@{
    ViewBag.Title = "About";
}
<!--
    File: About.cshtml
    Authors: Yuji Fujiyama, John Allan, Lucy Kang
    Website: VendComp Electronics
    Description: This page displays the brief information about company.
-->
<h2>About Us</h2>
<div class="row">
    <div class="col-md-9">
        <p class="text-justify">
            With over 20 locations across Southern Ontario, our award-winning all-you-can-eat buffet offers over 150 delicious dishes showcasing
            the best in Chinese Canadian fare. Enjoy our extensive soup and salad bars, grill table, prime rib counter, sushi corner,
            and a variety of hot foods. An array of desserts, an ice cream sundae bar and frozen yogurt station offer the perfect end to
            the meal. Take-out and delivery, prepared fresh to order, are also available at every location.
        </p>
    </div>
    <div class="col-md-3">
        <img src="~/Assets/Images/Logo.png" width="100" />
    </div>
</div>
<div class="brands">
    <h2>Brands We Have</h2>
    <div class="row">
        <br />
        <div class="col-sm-4 col-md-4">
            <img src="~/Assets/Images/Samsung-logo.png" alt="Samsung Logo" width="150" />
        </div>
        <div class="col-sm-push-1 col-sm-4 col-md-push-1 col-md-4">
            <i class="fa fa-apple fa-5x" aria-hidden="true"></i>
        </div>
        <div class="col-sm-4 col-md-4">
            <img src="~/Assets/Images/HP-logo.png" alt="HP Logo" width="100" />
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <br />
        <div class="col-sm-4 col-md-4">
            <img src="~/Assets/Images/Dell_Logo.png" alt="Dell Logo" width="150" />
        </div>
        <div class="col-sm-4 col-md-4">
            <img src="~/Assets/Images/Acer-Logo.png" alt="Acer Logo" width="150" />
        </div>
        <div class="col-sm-4 col-md-4">
            <img src="~/Assets/Images/Logo Asus.png" alt="HP Logo" width="150" />
        </div>
    </div>
</div>
<!--
<div class="row">
    <h2>The History behind our Name</h2>
    <p class="text-justify">
        Founding partners in the original Mappins location, 1979
        Mappins was founded as a small à-la-carte restaurant in Brampton in 1979 by James Chiu, George Chiu, Diana Chiu, and K.C. Chang. Their top priority was to ensure customer satisfaction by providing the freshest food and the best service.
        In 1986, they changed their restaurant to buffet-style to accommodate the long line-ups of customers waiting to try their much talked about cuisine. They continuously maintained their commitment to customer satisfaction. This commitment is the basis of the company’s mission statement: “Every customer must feel welcomed as soon as they arrive. Every customer must be happy and smiling when they leave”.
        Each location is owned and operated by Front and Kitchen Managing Partners who have been promoted from within the organization. All of the Managing Partners share the same goal of customer satisfaction that drove the four founding partners.
        The Mappins Restaurant corporate headquarters, located in Brampton, Ontario, is home to the head office, a warehouse, The Garden Banquet & Convention Centre, and Mappins Brampton, one of two corporately-owned restaurants.
        Mappins is proud to support the community. Over the years, the company has been recognized for its contributions to various hospitals, educational institutions, and charitable organizations. Mappins continues to win numerous consumer choice awards, including being named Best Buffet by Toronto Sun readers for over 20 years.
    </p>
</div>
-->