@{
    ViewBag.Title = "About";
}
<!--
    File: About.cshtml
    Authors: Yuji Fujiyama, John Allan, Lucy Kang
    Website: VendComp Electronics
    Description: This page displays the brief information about company.
-->

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
