@{
    ViewBag.Title = "Contact";
}
<!--
    File: Contact.cshtml
    Authors: Yuji Fujiyama, John Allan, Lucy Kang
    Website: VendComp Electronics
    Description: This page displays contact info and a map.
-->
<div class="main">
        <div class="row">
            <div class="col-xs-offset-1 col-md-4">
                <div class="row">
                    <h3>Contact Our Representatives</h3>
                    <h5>Yuji Fujiyama</h5>
                    <h5>John Horne</h5>
                    <h5>Lucy Kang</h5>
                    <address>
                        1 Toronto Street,<br />
                        Barrie, ON L9L 1L0<br />
                        <abbr title="Phone">P:</abbr>
                        (705) 555-5555
                    </address>
                    <address>
                        <strong>Email </strong>   <a href="mailto:info@vendcomp.com">info@vendcomp.com</a><br />
                    </address>
                </div>
                <div class="row">
                    <h3>Visit Us</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2851.3108126468587!2d-79.69375718447834!3d44.385741079103006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882aa32b3c452c07%3A0xdb8328aa0d36ce95!2s1+Toronto+St%2C+Barrie%2C+ON+L4N!5e0!3m2!1sen!2sca!4v1470439485810" 
                            width="500" 
                            height="350" 
                            frameborder="0" 
                            style="border:0" 
                            allowfullscreen></iframe>
                </div>
            </div>
            <!-- replacing for now
            <div class="col-md-3">
                <div class="panel">
                    <div class="panel-heading">
                        <h3>Manager Information</h3>
                    </div>
                    <div class="panel-body">
                        <address>
                            <span class="text-danger"><strong>Yuji Fujiyama</strong></span><br />
                            <span class="text-danger"><strong>John Horne</strong></span><br />
                            <span class="text-danger"><strong>Lucy Kang</strong></span><br />
                            1 Toronto Drive<br />
                            Barrie, ON L9L 1L0<br />
                            <abbr title="Phone">P: </abbr>
                            (705) 555-5555
                        </address>
                    </div>
                </div>
            </div>
            -->
            <div class="col-xs-offset-1 col-md-offset-2 col-md-5">
                <h3>Email Us</h3>
                <em>Please fill out all fields to send email to us.</em>
                
                <form action="@Url.Action("Index")" method="post" class="contact-form">
                    <div class="form-group">
                        <div class="input-group input-group-md">
                            <span class="input-group-addon" id="name-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="Full Name" aria-describedby="name-addon" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-md">
                            <span class="input-group-addon" id="company-addon"><i class="fa fa-building"></i></span>
                            <input type="text" class="form-control" placeholder="Company" aria-describedby="company-addon" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-md">
                            <span class="input-group-addon" id="email-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" class="form-control" placeholder="email@youremail.com" aria-describedby="email-addon" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-md">
                            <span class="input-group-addon" id="phone-addon"><i class="fa fa-phone"></i></span>
                            <input type="tel" class="form-control" placeholder="123-456-7890" aria-describedby="phone-addon" required>
                        </div>
                    </div>
                    <label for="MessageTextBox">Message: </label>
                    <textarea class="form-control" id="MessageTextBox" rows="5" cols="100" required>Please write your message...</textarea>

                    <div class="btn-group-md">
                        <button type="submit" class="btn btn-warning">Submit</button>
                        <a href="@Url.Action("Index")" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
</div> 