@{
    ViewBag.Title = "Contact";
}
<!--
    File: Contact.cshtml
    Authors: Yuji Fujiyama, John Allan, Lucy Kang
    Website: VendComp Electronics
    Description: This page displays contact info and a map.
-->
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel">
                    <div class="panel-heading">
                        <h3>Manager Information</h3>
                    </div>
                    <div class="panel-body">
                        <address>
                            <strong class="text-danger">Yuji Fujiyama || John Horne</strong><br />
                            1 Toronto Drive<br />
                            Barrie, ON L9L 1L0<br />
                            <abbr title="Phone">P: </abbr>
                            (705) 555-5555
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-md-8 panel">
                <div class="page-header text-center">
                    <h1>@ViewBag.Title</h1>
                </div>
                <em>Please fill out all fields to send email to us.</em>

                <form action="@Url.Action("Index")" method="post">
                    <div class="form-group">
                        <div class="input-group input-group-md">
                            <span class="input-group-addon" id="name-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="Full Name" aria-describedby="name-addon" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-md">
                            <span class="input-group-addon" id="company-addon"><i class="fa fa-building"></i></span>
                            <input type="text" class="form-control" placeholder="Company" aria-describedby="company-addon" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-md">
                            <span class="input-group-addon" id="email-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" class="form-control" placeholder="email@youremail.com" aria-describedby="email-addon" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-md">
                            <span class="input-group-addon" id="phone-addon"><i class="fa fa-phone"></i></span>
                            <input type="number" class="form-control" placeholder="123-456-7890" aria-describedby="phone-addon" required>
                        </div>
                    </div>

                    <div class="form-group form-group-lg">
                        <label class="control-label" for="MessageTextBox">Message: </label>
                        <input type="text" id="MessageTextBox" class="form-control" placeholder="Please write your message..." required>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-warning">Submit</button>
                        <a href="@Url.Action("Index")" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 