/*
    File: Site.css
    Authors: Yuji Fujiyama, John Allan, Lucy Kang
    Website: VendComp Electronics
    Description: Custom CSS
*/

/* font family */
@import 'http://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400';

/* Site wide */
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 80px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    margin-bottom: 25px;
    font-family: 'Oswald', sans-serif;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-weight: 300;
}

h5 {
    font-size: 14px;
}

a > h4:hover {
    text-decoration: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Site specific css style divided by its page name */
.navbar-brand > img {
    position: absolute;
    /*height: 100%;*/
    height: 40px;
    top: 0;
    padding-top: 5px;
}

.navbar-brand span {
    padding-left: 55px;
    font-weight: bold;
}

.btn-custom {
    margin-left: 100px;
}

.btn-submit{
    background-color: #2ede2b;
    color: aliceblue;
}

.btn-cyan {
    background-color: #55DDE0 /*#338bde*/;
    color: white;
}

.btn-yellow {
    background-color: #ECA400;
    color: white;
}

.btn-navy {
    background-color: #031D44;
    border-color: #031D44;
    color: white;
}

.btn-cyan:hover {
    background-color: aquamarine;
}

.btn-yellow:hover {
    background-color: yellowgreen;
}

.btn-navy:hover {
    background-color: #4f72a8; 
    border-color: #4f72a8;
}

.btn-group-md {
    margin-top: 15px;
    margin-left: 85px;
}

.btn-red {
    background-color: crimson;
    color: white;
}

.label-danger {
    background-color: crimson;
    font-size: 8px;
}

/* Sticky footer styles */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  /*background-color: #f5f5f5;*/
}

/* Landing Page */
.jumbotron-panel{
    margin-top: 10px;
    background-color: rgba(57, 57, 57, 0.6); 
    padding: 4px 40px 40px 40px;
    color: #fff;
}

/* About Page */
.brands {
    margin-top: 130px;
}

/* Contact Page */
.contact-form {
    margin-top: 10px;
}

/* Products Page */
.thumbnail {
    background-color: white;
}
.thumbnail > .img-responsive {
    max-height: 100px;
    height: auto;
}

.thumbnail>img, .thumbnail a>img {
    padding-top: 15px;
    height: 100px;
}

.detail-title {
    font-size: 20px;
}

.description {
    font-size: 15px;
}
/* Media size adjustment needed for headings
.thumbnail > .caption > h4, .thumbnail > .caption > h5{
    font-size: smaller;
}
*/

/* Product Details */
.product-detail-row {
    margin-top: 25px;
}

/* Shopping Cart Page */
.table>tbody>tr>td {
    vertical-align: middle;
}