/*
    File: Site.css
    Authors: Yuji Fujiyama, John Allan, Lucy Kang
    Website: VendComp Electronics
    Description: Custom CSS
*/

/* Site wide */
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 80px;
    padding-top: 50px;
    padding-bottom: 20px;
}

h4 {
    font-weight: bold;
}

h5 {
    font-size: 16px;
}

a > h4:hover {
    text-decoration: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Site specific css style divided by its page name */
.navbar-brand > img {
    position: absolute;
    /*height: 100%;*/
    height: 40px;
    top: 0;
    padding-top: 5px;
}

.navbar-brand span {
    padding-left: 55px;
    font-weight: bold;
}

.btn-submit{
    background-color: #2ede2b;
    color: aliceblue;
}

.btn-info {
    background-color: #55DDE0 /*#338bde*/;
}

.btn-warning {
    background-color: #ECA400;
}

.btn-success {
    background-color: #031D44;
    border-color: #031D44;
}

.btn-success:hover{
    background-color: #4f72a8; 
    border-color: #4f72a8;
}

.btn-group-md {
    margin-top: 15px;
    margin-left: 85px;
}

.btn-red {
    background-color: crimson;
    color: white;
}

.label-danger {
    background-color: crimson;
}

/* Sticky footer styles */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  /*background-color: #f5f5f5;*/
}

/* Landing Page */
.jumbotron-panel{
    margin-top: 10px;
    background-color: rgba(57, 57, 57, 0.6); 
    padding: 4px 40px 40px 40px;
    color: #fff;
}

/* About Page */
.brands {
    margin-top: 130px;
}

/* Contact Page */
.contact-form {
    margin-top: 10px;
}

/* Products Page */
.thumbnail {
    background-color: white;
}
.thumbnail > .img-responsive {
    max-height: 300px;
    height: auto;
}
.detail-title {
    font-size: 20px;
}

.description {
    font-size: 15px;
}
/* Media size adjustment needed for headings
.thumbnail > .caption > h4, .thumbnail > .caption > h5{
    font-size: smaller;
}
*/

/* Shopping Cart Page */
.table>tbody>tr>td {
    vertical-align: middle;
}