@{
    ViewBag.Title = "Confirm";
}

<h2>Checkout Confirmation</h2>
<p>Please click the button below to finalize your order.</p>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Items</h2>
                </div>
                <div class="panel-body">
                    <h5>User Shopping Cart Item(s) go here</h5>
                    <p>Laptop</p>
                    <p>Desktop</p>
                    <p>Monitor</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Shipping Address</h2>
                    </div>
                    <div class="panel-body">
                        <h5>User Shipping information goes here</h5>
                        <p>Address</p>
                        <p>City, Province</p>
                        <p>Postal Code, Country</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Order Total and Payment Method</h2>
                        </div>
                        <div class="panel-body">
                            <h5>User's Order total and payment method goes here</h5>
                            <p>Total Amount: $ 999.99</p>
                            <p>Payment Method: Visa</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="#" role="button" class="btn btn-success btn-md">Complete Order! </a>
    </div>
</div> <!-- /container -->
