@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <p class="navbar-text">Signed in as @User.Identity.GetUserName() </p>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-lg fa-sign-out"></i>Log off</a></li>
        </ul>
    }
}
else
{
        <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-lg fa-user-plus"></i> Register</a></li>
        <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-lg fa-sign-in"></i> Login</a></li>
}